################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/testrepos/FileContentIndex/5e77330d-f53e-4cb0-8898-c511f8a4c244.vsidx
/.vs/testrepos/FileContentIndex/5e77330d-f53e-4cb0-8898-c511f8a4c244.vsidx
